.header {
    width: 100%;
    padding: 50px 0;
    position: fixed;
    z-index: 1000;
    transition: all .2s;
    &__inner {
        width: 100%;
        margin: 0 auto;
        @media screen and(max-width: 1110px){
            padding: 0 15px;
        }
    }
    &__logo {
        @media screen and(max-width: 576px) {
            width: 113px;
        }
    }
}